<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <center><%= image_tag("nameyournote.jpg") %></center>		
    <%= f.text_area :note_text %>
  </div>


  <div class="actions">
    <%= f.submit %><%= image_tag("save2.jpg") %>
  </div>
<% end %>