<%= form_for(@thing) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <center><%= image_tag("briefdescription.jpg") %></center>
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <center><%= image_tag("elaborate.jpg") %></center>
    <%= f.text_area :long_name %>
  </div>
  <div class="field">
    <%= f.check_box :favorite %><br><%= image_tag("checkfavorite.jpg") %>
  </div><br><br>


  <div class="field" hidden="true">
    <%= f.number_field :type_id, :id => "type_ID" %>   <!-- used for the updating of the TypeID in application.js  -->
  </div>


    <%= f.select :priority, options_for_select([["No Priority", nil], [1], [2], [3], [4], [5]], @thing.priority) %>

  <div class="actions">
    <%= f.submit value='Save!' %><%= image_tag("save.jpg") %>    
  </div>  



<% end %>