<%= form_for(@thing) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <script>
        $('.btn-group').find('.btn').bind('click',function(event){
        if($(this).attr('id')==='optionsRadios1'){
            alert($(this).attr('id'));
        } else {
            alert($(this).attr('id'));
        }
        });
    </script>

  <div class="field">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :long_name %><br />
    <%= f.text_area :long_name %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :thing_parent_id %><br />
    <%= f.text_field :thing_parent_id %>
  </div>

  <div class="actions" >
    <%= f.submit %>
  </div>
<% end %>