<ul class="nav nav-list">
  <li>
	<li data-toggle="collapse" data-target="#demo">
    <a href="#">
    	<%= image_tag('note.jpg') %>
	</a>
	</li>
  </li>
</ul>
	<div id="demo" class="collapse in">
		<%= form_for(@thing.notes.new) do |f| %>

		  Note: <%= f.text_field :note_text %>
		  <div class="field" hidden="true">
		    <%= f.text_field :thing_id %>
		  </div>	
		  <%= f.submit %>	
		<% end %>
	</div>
<br>