<h2>You are about to ADD a New Thing!</h2>

<!--<%= render 'shared/show_types' %>-->

<% @types = Type.all %>
<center><%= image_tag("thingtype.jpg") %></center>
<div align="right"><a class="label label-info" href="<%= new_type_path %>">Add more here</a></div>


<div class="tooltip-demo well">

  <div class="btn-group" data-toggle="buttons-radio">
    <% if @types.count > 0 %>
		<% @types.each do |t| %>
	        <button class="btn" btn_success id=<%= t.id %>><%= t.type_name %></button>
	    <% end %>
	<% else %>
		<%= link_to image_tag("back.jpg"), new_type_path %> <!-- SHAUN change this to say "Oops! you don't have any types - Click here to add some!" -->
	<% end %>
  </div>
</div>



<%= render 'form' %>

<%= link_to image_tag("back.jpg"), things_path %>