<p id="notice"><%= notice %></p>

<p>
  This is marked as type "<%= @thing.type.type_name %>"
</p>

<div class="tooltip-demo well">
  <p class="muted" style="margin-bottom: 0;">
	  <%= @thing.short_name %>
  </p>
</div>

<div class="tooltip-demo well">
  <p class="muted" style="margin-bottom: 0;">
	  <%= @thing.long_name %>
  </p>
</div>

<%= link_to image_tag("editbtn.jpg"), edit_thing_path(@thing) %>
<%= link_to image_tag("back.jpg"), things_path %>
