<p id="notice"><%= notice %></p>

<p>
  <% if @thing.type_id.nil? %> 
	This thing is <span class="label label-warning">untagged</span><br><br>
  <% else %>
	This thing is marked as type <span class="label label-info"><%= @thing.type.type_name %></span><br><br>
  <% end %>
</p>

<div class="tooltip-demo well">
  <p class="muted" style="margin-bottom: 0;">
	  <%= @thing.short_name %>
  </p>
</div>

<div class="tooltip-demo well">
  <p class="muted" style="margin-bottom: 0;">
	  <%= @thing.long_name %>
  </p>
</div>

<% if !@thing.notes.empty? %>
<span class="label label-warning">Notes</span>

	<% @thing.notes.each do |note| %>
	<div class="tooltip-demo well">
	  <p class="muted" style="margin-bottom: 0;">
		  <%= link_to note.note_text, edit_note_path(note) %>
	  </p>
	</div>
	<% end %>
<% end %>

<%= render('quick_note') %>

<%= link_to image_tag("editbtn.jpg"), edit_thing_path(@thing) %>
<%= link_to image_tag("back.jpg"), things_path %>
<%= link_to image_tag("del.jpg"), @thing, confirm: 'Are you sure?', method: :delete %>