<table class="table table-striped table-condensed">
  <tr></tr>
  <tr>
	<th></th>
    <th><br><%= link_to image_tag("types.jpg"), :sort => "type_name" %><%= sortable "type_name", "types" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @types.each do |type| %>
  <tr>
	<td><span rel="tooltip" title="View"><%= link_to image_tag("open.jpg"), type %></span>
	<span rel="tooltip" title="Edit"><%= link_to image_tag("edit.jpg"), edit_type_path(type) %></span></td>

    <td><span class="label label-info"><%= type.type_name %></span></td>

    <td></td>
    <td><span class="timestamp">(Updated <%= time_ago_in_words(type.updated_at) %> ago)</span></td>
	<td><span rel="tooltip" title="Delete"><%= link_to image_tag("trash.jpg"), type, confirm: 'Are you sure?', method: :delete %></span></td>
  </tr>
<% end %>
</table>

<%= will_paginate @types if @types.respond_to? :total_pages %>
<%= link_to image_tag("addanother.jpg"), new_type_path %>

<!-- <%= render 'shared/typeslist' %> -->