
<% @tng = Thing.find(:all, :conditions => ["user_id=?", current_user.id]) %>
<% @typ = Type.find(:all, :conditions => ["user_id=?", current_user.id]) %>
<% @nte = Note.find(:all, :conditions => ["user_id=?", current_user.id]) %>
<% @fav = Thing.find(:all, :conditions => ['favorite = ? and user_id=?', true, current_user.id]) %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
		 <div class="tooltip-demo well">
			<table class="muted" style="margin-bottom: 1;">
				<tr><td><%= image_tag("totals.png") %></td></tr>
				<tr><td>Things: </td><td><div align="right"><b><%= @tng.count %></b></div></tr>
				<tr><td>Types: </td><td><div align="right"><b><%= @typ.count %></b></div></tr>
				<tr><td>Notes: </td><td><div align="right"><b><%= @nte.count %></b></div></tr>
				<tr><td>Favorites: </td><td><div align="right"><b><%= @fav.count %></b></div></tr>
				<tr><td><br></td></tr>
				<tr><td><%= image_tag("menu.png") %></td></tr>
				<tr><td><%= link_to "Settings", settings_path %></td></tr>
				<tr><td><%= link_to "Profile", edit_user_path(current_user) %></td></tr>
				<tr><td><%= link_to "Search", edit_user_path(current_user) %></td></tr>
				<tr><td><br></td></tr>
				<tr><td><%= link_to "Sign out", signout_path, method: "delete" %></td></tr>
			</table>
		 </div>
		
		 <div class="tooltip-demo well">
			<table class="muted" style="margin-bottom: 1;">
				<% @types = Type.all :conditions => ["user_id=?", current_user.id], :order => 'type_name ASC' %>				
					<%= form_tag types_path, :id => "types_filter", :method => 'get', :remote => true do %>
						<% @types.each do |t| %>
						        <tr><td><%= check_box_tag 't.id[]', t.id -%>
						        <%= t.type_name + " (" + t.things.count.to_s + ")" -%></tr></td>								
						<% end %>
				    <% end %>				
			</table>
		 </div>
    </div>

    <div class="span9">
		<table class="table-condensed">
			<tr>
				<td><%= link_to image_tag("menuthings.jpg"), things_path %></td>
				<td><%= link_to image_tag("menutypes.jpg"), types_path %></td>
				<td><%= link_to image_tag("menunotes.jpg"), notes_path %></td>
			</tr>
			<tr>
				<td><center><a href="<%= new_thing_path %>" class="btn btn-small"><i class="icon-plus-sign"></i> Quick Add Thing</a></center></td>
				<td><center><a href="<%= new_type_path %>" class="btn btn-small"><i class="icon-plus-sign"></i> Quick Add Type</a></center></td>
				<td><center><a href="<%= new_note_path %>" class="btn btn-small"><i class="icon-plus-sign"></i> Quick Add Note</a></center></td>
			</tr>
		</table><br><br>
	</div>











    <div class="span9">
		<h2>Your last 5 things created</h2>
		<table class="table table-striped table-bordered table-condensed">

				<% a = [] %>
				<% a[0] = '<i class="icon-star-empty"></i>' %>
				<% a[1] = '<i class="icon-star-yellow"></i>' %> <!-- SHAUN, you added this icon yellow star into the CSS stylesheet (custom) -->
				
				<% @tng = Thing.all :conditions => ["user_id=?", current_user.id], :order => "created_at desc", :limit => 5 %>
				<% @tng.each do |thing| %>
				  <tr>
					<td><%= best_in_place thing, :favorite, type: :checkbox, collection: a %></td>


					<td><span rel="tooltip" title="View"><%= link_to image_tag("open.jpg"), thing %></span></td>
					<td><span rel="tooltip" title="Edit"><%= link_to image_tag("edit.jpg"), edit_thing_path(thing) %></span></td>

					<td><a href="#element" rel="popover" title="<%= truncate(thing.short_name, :length => 20) %>" 
										   data-content="<%= truncate(thing.long_name, :length => 200) %>"><%= truncate(thing.short_name, :length => 50) %></a>

										<% if !thing.notes.empty? %>
											<% if thing.notes.count > 1 %>
												<span rel="tooltip" title="View Notes<%=' ('+thing.notes.count.to_s+')'%>"> <%= link_to image_tag("notesmallmulti.png"), thing %></span>
											<% else %>
												<span rel="tooltip" title="View Note"> <%= link_to image_tag("notesmall.png"), thing %></span>
											<% end %>							
									     <% end %></td>

				    <td>


				      <% if thing.type_id? %>
							<% if thing.type.type_name == "To Do" %>
				              <span class="label label-success"><%= thing.type.type_name %></span>
							<% else %>
				              <span class="label label-info"><%= thing.type.type_name %></span>
							<% end %>

				      <% else %>
				          <span class="label label-warning">Untagged</span>
				      <% end %>
				    </td>
					<td><span rel="tooltip" title="Delete"><%= link_to image_tag("trash.jpg"), thing, confirm: 'Are you sure?', method: :delete %></span></td>
				  </tr>
				<% end %>	
			</table>
    </div>








    <div class="span9">
			<table class="table table-striped table-bordered table-condensed">
				<h2>Your favorite things</h2>
				<% a = [] %>
				<% a[0] = '<i class="icon-star-empty"></i>' %>
				<% a[1] = '<i class="icon-star-yellow"></i>' %> <!-- SHAUN, you added this icon yellow star into the CSS stylesheet (custom) -->
				
				
				<% @tng = Thing.paginate :conditions => ['favorite = ? and user_id=?', true, current_user.id], :page => params[:page], :per_page => 10, :order => 'updated_at DESC' %>				
				<% @tng.each do |thing| %>
				  <tr>
					<td><%= best_in_place thing, :favorite, type: :checkbox, collection: a %></td>


					<td><span rel="tooltip" title="View"><%= link_to image_tag("open.jpg"), thing %></span></td>
					<td><span rel="tooltip" title="Edit"><%= link_to image_tag("edit.jpg"), edit_thing_path(thing) %></span></td>

					<td><a href="#element" rel="popover" title="<%= truncate(thing.short_name, :length => 20) %>" 
										   data-content="<%= truncate(thing.long_name, :length => 200) %>"><%= truncate(thing.short_name, :length => 50) %></a>

										<% if !thing.notes.empty? %>
											<% if thing.notes.count > 1 %>
												<span rel="tooltip" title="View Notes<%=' ('+thing.notes.count.to_s+')'%>"> <%= link_to image_tag("notesmallmulti.png"), thing %></span>
											<% else %>
												<span rel="tooltip" title="View Note"> <%= link_to image_tag("notesmall.png"), thing %></span>
											<% end %>							
									     <% end %></td>

				    <td>


				      <% if thing.type_id? %>
							<% if thing.type.type_name == "To Do" %>
				              <span class="label label-success"><%= thing.type.type_name %></span>
							<% else %>
				              <span class="label label-info"><%= thing.type.type_name %></span>
							<% end %>
				      <% else %>
				          <span class="label label-warning">Untagged</span>
				      <% end %>
				    </td>
					<td><span rel="tooltip" title="Delete"><%= link_to image_tag("trash.jpg"), thing, confirm: 'Are you sure?', method: :delete %></span></td>
				  </tr>
				<% end %>				
			</table>
			<%= will_paginate @tng %>
		  
    </div>

<!-- SHAUN - To ENABLE GRAPHS and CHARTS on the main screen, uncomment a few of the below. it also has the Create PDF link. -->
<!-- SHAUN GRAPH DATA Start -->
	<!-- <% i=0 %>
	<% @typ.each do |t| %>
		<% a[i] = t.type_name + " (" + t.things.count.to_s + ")" %>
		<%= a[i] %>,
		<% i=i+1 %>
	<% end %> -->


<!-- SHAUN GRAPH DATA End -->

	<div class="span9">
		<%= render 'shared/chart' %>
	</div>
	
  <!-- </div> -->


<!--  <%= link_to "Create PDF Summary",   pdf_path %> -->


</div>
